.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.primary-heading {
	font-size: var(--fs-800);
	font-weight: var(--fw-bold);
	letter-spacing: var(--size-400);
	color: var(--clr-dynamic-heading);
}

[aria-hidden="true"] {
	display: none !important;
}

.pb-1 {
	padding-bottom: var(--size-400);
}

.pb-2 {
	padding-bottom: var(--size-500);
}

.bb {
	border-bottom: 1px solid var(--clr-dynamic-paragraph-2);
}
